<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-item slot="end" color="primary">

      <ion-item color="primary">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <ion-item color="primary">
        <ion-icon name="earth-outline"></ion-icon>
      </ion-item>

      <ion-item color="primary">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-item>

    </ion-item>

  </ion-toolbar>
</ion-header>
