<div class="main">

  <div class="izquierda">

    <ion-avatar>
      <img [src]="reporte.fotoMascota" />
    </ion-avatar>

    <h1>{{ reporte.nombreMascota }}</h1>

  </div>


  <div class="derecha">

      <h2>Responde por</h2>

      <p class="centrado">{{ reporte.nombreMascota }}</p>

      <h3>Se perdio en</h3>

      <p>{{ reporte.lugar }}</p>

      <h3>Descripción rapida</h3>

      <p>{{ reporte.descRapida }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ad repudiandae eveniet magnam iste reiciendis ab enim possimus consequatur eius dolor esse temporibus similique aliquid, laudantium, repellat commodi repellendus doloribus!</p>

  </div>

</div>
